.return_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: fit-content;
  margin-left: 2rem;
}

.create_game_form {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin: 0 2rem;
}

.create_game_form > label {
  margin: 1rem 0 0.3rem 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.categories > div {
  margin: 0 1rem 0 0;
}

.input_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: fit-content;
}

.input_row > input {
  margin: 0 10px 0 0;
}

.emoji_picker {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#emoji {
  font-size: xx-large;
  margin: 0 1rem 0 0;
}

.create_game_form > input {
  padding: 0.3rem;
  min-width: 40px;
}

.create_game_form > textarea {
  min-height: 8rem;
}

#create_button {
  margin: 2rem auto 0 auto;
  width: 200px;
}

@media (min-width: 768px) {
  .create_game_form {
    margin: 0 5rem;
  }
}

@media (min-width: 1024px) {
 .create_game_form {
    max-width: 60%;
    margin: auto;
  }
}
