.game-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.game-icon {
    width: 60px;
    height: 60px;
    background-color: lightblue;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.game-info {
    flex: 1;
}

.game-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1px;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(96, 96, 96, 0.5);
}

.star-rating {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 1px;
}

.star-icon {
    margin-right: 5px;
}

.game-text {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    color: white;
    margin-right: 40px;
}

.game-duration,
.game-players {
    text-shadow: 1px 1px 2px rgba(96, 96, 96, 0.5);
    display: flex;
    align-items: center;
}

.game-duration {
    justify-content: center; /* Center the content horizontally */
}

.game-players {
    margin-left: auto; /* Push game-players to the right */
}

.remove-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightblue;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center; /* Align remove-cross vertically */
    justify-content: center; /* Align remove-cross horizontally */
}

.remove-cross::before,
.remove-cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: white;
}

.remove-cross::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.remove-cross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.remove-button:hover {
    background-color: rgb(160, 212, 229);
}

.game-text {
    color: white;
}
