.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-section.categories {
  flex-direction: column;
}

.filter-section.categories label,
.filter-section.categories div {
  margin: 5px 0;
}
